<!DOCTYPE html>
<html lang="en">

  <head>
    <%- include("../partial/meta.ejs") %>
    <title><%= title %></title>
  </head>
  <body>
    <%- include("../partial/data.ejs") %>
    <div>hi this is home page file</div>
    <%- include("../partial/section.ejs") %>
  </body>
</html>
