<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partial/meta.ejs") %>
    <title><%= title %></title>
</head>
<body>
    <%- include("../partial/data.ejs") %>
    <h1>hi this is index file</h1>
    <a href="/download" >Download this file</a>
    <%- include("../partial/section.ejs") %>
</body>
</html>